<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Alkunäyttö</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/Css/Alku.css" rel="stylesheet">
</head>
<header>
    <h1>Family friendly murhamysteeri featuring Ilkka</h1>
</header>


<body>
    <div id="Go">
        <div id="Alku">
            <a href="Kirjaudu.html"><div><button class="play">Pelaa</button></div></a></div>
        <div id="leader">
            <a href="leaderboard.html"><div><button id ="leaderboard" class="play">Leaderboard</button></div></a></div>
    </div>
    <h2 id="info"></h2>
</body>
</html>