<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kirjautumissivu</title>
    <link href="../static/Kirjaudu.css" rel="stylesheet">
    <link href="Tarina.html">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
    <div class="login-box">
      <h1>Kirjaudu</h1>
      <form id="form" name="search" action="">
        <div class="user-box">
            <input id="username" type="text" name="search-box">
            <label>Username</label>
        </div>
          <a><button type='submit'>Pelaa</button></a>
      </form>
    </div>
<script>
    const form = document.getElementById('form')

    form.addEventListener('submit', function(evt){
      evt.preventDefault();

      const prepayload = new FormData(form);
      const payload = new URLSearchParams(prepayload);
      console.log([...payload])

      fetch('http://httpbin.org/post',{
        method:'POST',
        body:payload,
      })
          .then(res => res.json())
          .then(data => console.log(data))
          .catch(err => console.log(err));
    })
</script>
</body>
</html>