<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kirjautumissivu</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/Css/Kirjaudu.css" rel="stylesheet">
    <script src="../static/Javascript/kirjaudu.js" defer></script>

</head>
<body>
<div class="login-box">
    <h1>Kirjaudu</h1>
    <form id="player-form" action="Tarina.html">
        <div class="inputbox">
            <input name=username id="player-input" type="text" required="required">
            <span>Käyttäjänimi</span>
        </div>
        <div class="inputbox">
            <input type="submit" id="input-button" value="Pelaa">
        </div>
    </form>
</div>
</body>
</html>
