<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/Css/leaderboard.css" rel="stylesheet">
    <script src="../static/Javascript/Leader.js" defer></script>
    <title>Tulostaulu</title>
</head>
<body>
<nav>
    <h1>Tulostaulu</h1>
    <a id="Alku" href="Alku.html"><button>Palaa takaisin</button></a>
</nav>
    <section class="wrapper">
        <div id="most-wins">
            <h2>Eniten voittoja</h2>
        </div>
        <div id="most-played">
            <h2>Eniten pelattu</h2>
        </div>
        <div id="biggest-winstreak">
            <h2>Suurin voittoputki</h2>
        </div>
    </section>
</body>
</html>