<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/Css/leaderboard.css" rel="stylesheet">
    <title>Tulostaulu</title>
</head>
<body>
<nav>
    <h1>Tulostaulu</h1>
    <a id="Alku" href="Alku.html"><button>Alku</button></a>
    <a id="Mapview" href="Mapview.html"><button>Mapview</button></a>
</nav>
    <section class="wrapper">
        <div>
            <h2>Vähiten lentoja</h2>
            <p>1. Kamilla</p>
            <p>2. Saara</p>
            <p>3. Tuomas</p>
            <p>4. Tuomas</p>
            <p>5. Tuomas</p>
            <p>6. Tuomas</p>
            <p>7. Tuomas</p>
            <p>8. Tuomas</p>
            <p>9. Tuomas</p>
            <p>10. Tuomas</p>
        </div>
        <div>
            <h2>Eniten pelattu</h2>
            <p>1. Tuomas</p>
            <p>2. Cristian</p>
            <p>3. Kamilla</p>
            <p>4. Kamilla</p>
            <p>5. Kamilla</p>
            <p>6. Kamilla</p>
            <p>7. Kamilla</p>
            <p>8. Kamilla</p>
            <p>9. Kamilla</p>
            <p>10. Kamilla</p>
        </div>
        <div>
            <h2>Suurin voittoputki</h2>
            <p>1. Saara</p>
            <p>2. Cristian</p>
            <p>3. Pekka</p>
            <p>4. Kamilla</p>
            <p>5. Kamilla</p>
            <p>6. Kamilla</p>
            <p>7. Kamilla</p>
            <p>8. Kamilla</p>
            <p>9. Kamilla</p>
            <p>10. Kamilla</p>
        </div>
    </section>
</body>
</html>