<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loss ending</title>
    <link href="../static/Css/lossEnding.css" rel="stylesheet">
    <script src="../static/Javascript/lossEnding.js" defer></script>
</head>
<body>
<h1 id="suspect-container">Pidätit väärän henkilön. Hävisit pelin :C</h1>
<div id="again">
    <div id="whattodo">
        <a href="Alku.html">
            <div>
                <button class="play">Pelaa uudestaan</button>
            </div>
        </a></div>
    <div id="leader">
        <a href="leaderboard.html">
            <div>
                <button id="leaderboard" class="play">Leaderboard</button>
            </div>
        </a></div>
</div>


</body>
</html>