<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loss ending</title>
    <link href="../static/lossEnding.css" rel="stylesheet">
</head>
<body>
<p>Pidätit väärän henkilön. {suspect} ei ollut murhaaja. Hävisit pelin :C</p>
<div id="again">
    <div id="whattodo">
        <a href="Alku.html">
            <div>
                <button class="play">Pelaa uudestaan</button>
            </div>
        </a></div>
    <div id="leader">
        <a href="leaderboard.html">
            <div>
                <button id="leaderboard" class="play">Leaderboard</button>
            </div>
        </a></div>
</div>


</body>
</html>