<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alkutarina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/Css/Tarina.css" rel="stylesheet">
    <script src="../static/Javascript/tarina.js" defer></script>

</head>
<body>
    <div class="container">
        <img src="https://cdn.discordapp.com/attachments/1026875171505721478/1049372622372212786/E469CFD1-E20D-426B-9959-7F7AF1BF64C5.png" alt="brown scroll">
        <div class="texts">
            <div id="story-start"></div>
            <p>Ilkka on löydetty murhattuna erään konferenssin tapahtumapaikalta. Olemme saaneet epäillyt rajattua kahdeksaan henkilöön, mutta emme ole onnistuneet tavoittamaan yhtäkään heistä, sillä he ovat karanneet ympäri Eurooppaa. Tarvitsemme nyt apuasi mysteerin selvittämisessä. Lennä eri maihin haastattelemaan epäiltyjä. Jokainen heistä kertoo sinulle tarinan ja näiden avulla sinun tulee päätellä murhaaja. Muista: Kukaan ei voi antaa itselleen alibia ja henkilöt puhuvat aina totta! Kerää tarpeeksi tietoa ennen pidättämistä, onnea matkaan!</p>
            <a href="Mapview.html"><button class="Jatka">Jatka</button></a>
        </div>
    </div>
</body>
</html>