<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alkutarina</title>
    <link href="../static/Css/Tarina.css" rel="stylesheet">
    <script src="../static/Javascript/Main.js" defer></script>

</head>
<body>
    <div class="container">
        <img src="https://cdn.discordapp.com/attachments/1026875171505721478/1049372622372212786/E469CFD1-E20D-426B-9959-7F7AF1BF64C5.png" alt="brown scroll">
        <div class="texts">
            <p>Hei rikosetsivä {username}!</p>
            <p>Ilkka on murhattu konferensissa plaa plaa Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nulla at lacus consectetur feugiat. Ut elit elit, faucibus ut placerat et, dapibus nec turpis. Vestibulum et lacus nulla. In efficitur nisi eros, ac lacinia ipsum suscipit id. Nam tincidunt egestas suscipit.</p>
            <a href="Mapview.html"><button class="Jatka">Jatka</button></a>
        </div>
    </div>
</body>
</html>