<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Victory ending</title>
    <link href="../static/Css/victoryEnding.css" rel="stylesheet">
</head>
<body>
<h1>Pidätit murhaajan! Olet voittanut pelin! :D</h1>
<div id="again">
    <div id="whattodo">
        <a href="Alku.html">
            <div>
                <button class="play">Pelaa uudelleen</button>
            </div>
        </a>
    </div>
    <div id="leader">
        <a href="leaderboard.html">
            <div>
                <button id="leaderboard" class="play">Leaderboard</button>
            </div>
        </a>
    </div>
</div>


</body>
</html>