html{
    height:100%;

}
header{
    margin:auto;
    text-align:center;
    padding:0.5rem;
}
body {
    margin:0;
    font-family: sans-serif;
    text-align: center;
    background: #020202;
}
h1 {
    margin:0;
    color: #8b0000;
    text-align: center;
    padding:3rem;
    font-size: 4rem;

}
#Go {
    padding:6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

#Alku {
    width:30%;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    top:20%;
    left:35%;
    right:35%;
    padding:3rem;
    color:#fff;
    text-align:center;
    box-sizing: border-box;
    justify-content: space-around;
}
#leader{
    width:30%;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    top:40%;
    left:35%;
    right:35%;
    padding:3rem;
    color:#fff;
    text-align:center;
    box-sizing: border-box;
    justify-content: space-around;
}
.play{
    width: 25rem;
    height: 8rem;
    background: #0f0113;
    color: lightgray;
    cursor: pointer;
    font-size: 3rem;
    transition-duration: 0.5s;
    border: 2px solid #0f0113;
    letter-spacing: 2px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.play:hover {
    background-color: #020202;
    color: #8b0000;
}

