html{
    height:100%;
}
body{
    font-family: sans-serif;
    margin:0;
    padding:0;
    background: #020202;
}

button {
    font-size: 1rem;
    padding: 1em;
  background: #3c0d0d;
  color: lightgray;
  border: lightgray;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
 background: #351038;
}

#Alku {
    grid-column: 1;
    position: absolute;
    padding: 1em;

}


h1 {
    margin:0;
    color: lightgray;
    text-align: center;
    padding:4rem 2rem 0rem 2rem;
    font-size: 4rem;
    letter-spacing: 2px;
    grid-column: 2;
}
nav{
    margin: auto;
    text-align: center;
    justify-content: space-around;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper {
    padding:6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

div {
    width: calc(80% / 3 - 7rem);
    color: #fff;
    background: rgba(0, 0, 0, .5);;
    text-align: center;
    box-sizing: border-box;
    border: 1px #A10500 solid;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 3px 6px 6px #A10500;
}