html{
    height:100%;

}

body {
    margin:0;
    font-family: sans-serif;
    text-align: center;
    background-image: url('../Pictures/bars.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    margin:0;
    color:#020202;
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
    background-color: rgba(255,255,255,0.7);

}
#again{
    padding:6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;

}
#whattodo {
    width:30%;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    top:20%;
    left:35%;
    right:35%;
    padding:5rem;
    color:#fff;
    text-align:center;
    box-sizing: border-box;
    justify-content: space-around;
}
#leader{
    width:30%;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    top:40%;
    left:35%;
    right:35%;
    padding:7rem;
    color:#fff;
    text-align:center;
    box-sizing: border-box;
    justify-content: space-around;
}
.play{
    width: 25rem;
    height: 10rem;
    background: #0f0113;
    color: lightgray;
    cursor: pointer;
    font-size: 3rem;
    transition-duration: 0.5s;
    border: 2px solid #0f0113;
    letter-spacing: 2px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.play:hover {
    background-color: #020202;
    color: #8b0000;
}

